.book-card {
  padding: 16px;
  text-decoration: none;
  width: 240px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.233);
  transition: all 0.2s ease;
}

.book-card:hover {
  box-shadow: 1px 0px 13px 1px rgba(0, 0, 0, 0.323);
}

.book-card-image {
  height: 340px;
  width: 208px;
}

.book-card-img {
  height: 340px;
  width: 100%;
  object-fit: cover;
}

.book-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-card-author {
  font-size: 15px;
}

.book-card-genre {
  padding: 2px 6px;
  background-color: rgb(57, 150, 153);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}
